#bin
/target/
.java-version

# Eclipse
.classpath
.project
.settings
.settings/*

# intellij
/.idea
*.iml

# build/test
/classes
/test-classes
/META_INF
/out
/*.jar
/*.gz
.metadata/
.DC_Store
*.jks
src/testIntegration/resources/test-integration.properties
